@font-face {
  font-family: "kittithada_thin_35regular";
  src: url("/psl239pro-webfont.woff2") format("woff2"),
    url("/psl239pro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "kittithada_thin_35regular" !important;
  background-color: white;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url(src/img/bg-main.jpg);
}

.container {
  /* float: right; */
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
div {
  display: block;
}

.wrapper.md {
  display: block;
}

.wrapper.sm {
  display: none;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper .image-wrapper {
  display: block;
  width: 1440px;
  max-width: 95%;
  height: auto;
  padding: 0;
  margin: 150px auto auto;
  text-align: center;
}

.wrapper .image-wrapper img {
  max-width: 100%;
}

.wrapper .btn-wrapper {
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: block;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

.reflect {
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0004);
}

.wrapper .btn-wrapper .btn-enter {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 10px;
}

.wrapper .btn-wrapper .btn-enter a {
  position: relative;
  display: block;
  min-width: 175px;
  height: 40px;
  padding: 0;
  font-size: 26px;
  line-height: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  background-image: linear-gradient(#fecc42, #b78e22);
  transition-property: background-image;
  border-radius: 5px;
}

@media only screen and (max-width: 1440px) {
  .wrapper .image-wrapper {
    width: 1000px;
  }
}

@media only screen and (max-width: 1365px) {
  .wrapper.sm {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .wrapper.md {
    display: none;
  }
  .wrapper .image-wrapper {
    margin: 30px auto;
  }
  .wrapper .btn-wrapper {
    position: relative;
    left: auto;
    transform: translateX(0);
    bottom: auto;
    margin: 0 auto;
  }
} ;
